apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - resources/manager.yaml
generatorOptions:
  disableNameSuffixHash: true
#configMapGenerator:
#- files:
#  - resources/manager_config.yaml
#  name: apicurio-registry-operator-config
images:
  - name: REGISTRY_OPERATOR_IMAGE
    newName: quay.io/apicurio/apicurio-registry-operator
    newTag: 1.1.1
