site:
  title: Apicurio Registry Operator PREVIEW
  # the 404 page and sitemap files only get generated when the url property is set
  url: https://www.apicur.io/registry/operator/docs # TODO ???
  start_page: apicurio-registry-operator::index.adoc
content:
  sources:
    - url: ../
      branches: HEAD
      start_path: docs

ui:
  bundle:
    url: https://raw.githubusercontent.com/Apicurio/apicurio-docs-ui/main/dist/ui-bundle.zip
    snapshot: true

runtime:
  cache_dir: ./target/antora-cache

output:
  dir: ./target/dist

asciidoc:
  attributes:
    plantuml-server-url: 'http://www.plantuml.com/plantuml'
    plantuml-fetch-diagram: true
    mod-loc: partial$
